.yes-button {
    background-color: #0074d9; 
    color: #fff; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    margin: 10px; 
  }
  
  .yes-button:hover {
    background-color: #0056b3;
  }
  
  .no-button {
    background-color: #ff4136; 
    color: #fff;
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    margin: 10px; 
  }
  
  .no-button:hover {
    background-color: #d60e00; 
  }
  .no-button {
    position: absolute;
  }
  body{

    background-color: rgb(124, 115, 207);

}
